

<header>
  <img src = "http://www.danitykane.com/img/DanityKane_2013.jpg" width="250" height="200">

<h1>The Second Coming of Danity Kane!</h1>
</header>

<div id = "tweets">
  <div class = "container">
<% @tweets.each do |tweet| %>
    <%= link_to(image_tag(tweet.user.profile_image_url), "http://twitter.com#
   (tweet.user.screen_name)") %><%= tweet.text %> <br></br>
    <% end %>

  </div>
    </div>




 <div class = "container2"><u><b><h1>Danity Kane News</u></b></h1>
   <p><a href="http://www.rap-up.com/2013/11/16/danity-kane-announces-first-concert-in-5-years/">Danity Kane announces first concert in 5 years</a>
   </p>
 <p><a href="http://www.idolator.com/7496415/danity-kane-idolator-interview">Danity Kane spills why they'll stick together</a></p>
  </div>
   <p>
     <p>
<div id = "myinstagrams">
  <div class = "container3">
  <% @myinstagrams.each do |instagram|%>
      <%= link_to image_tag(instagram.images.thumbnail.url), instagram.link  %>

  <% end %>
</div>




